body {
   
    display: flex;
    padding: 5rem 50px;
    flex-direction: column;
    gap: 50px;
    font-family: Arial, sans-serif;
    line-height: 1.6;

}

.container {
    width: 80%;
    margin: 0 auto;
}
nav, ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1, h2 {
    color: #2c3e50;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li{
    margin: 10px 0;
}


ul {
    gap: 10px;
}

ul li {
list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header a:hover {
color: rgb(17, 109, 246);
}

