body {
   
    display: flex;
    padding: 5rem 50px;
    flex-direction: column;
    gap: 50px;
}
nav, ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


ul {
    gap: 10px;
}

ul li {
list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header a:hover {
color: rgb(17, 109, 246);
}
form,div{
    margin-top: 20px;
}
.btn-Envoyer{

background-color: #EEA302;
    border-radius: 50%;
    border: none;
    width: 100px;
    height: 100px;
    margin-top: 15px;
}
.message{
    display:flex;
    justify-content: left;
    flex-direction: column;
    width: 500px;
}
